.header-box {
    .m-top {
        padding: 0 20px;
        // margin: 0 auto;
        display: flex;
        align-items: center;
        height: 70px;
        box-sizing: border-box;
        background: #242424;
        border-bottom: 1px solid #000;
        .logo {
            flex-shrink: 0;
            font-size: 28px;
            color: #fff;
            margin-right: 20px;
        }
    }
}