
.top-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  background: #f5f5f5;
  .top-header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    .top-img {
      width: 80px;
      height: 80px;
    }
    .top-info {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      .top-name {
        font-size: 14px;
        color: #333;
      }
      .icon-box {
        display: flex;
        margin-top: 10px;
        .icon-play {
          width: 22px;
          height: 22px;
          margin-right: 20px;
          background: url('https://s2.music.126.net/style/web2/img/index/index.png?2d24d46cbc8c1e5304fe8b3608ff1e6c');
          background-position: -267px -205px;
          &:hover {
            cursor: pointer;
            background-position: -267px -235px;
          }
        }
        .icon-add {
          width: 22px;
          height: 22px;
          background: url('https://s2.music.126.net/style/web2/img/index/index.png?2d24d46cbc8c1e5304fe8b3608ff1e6c');
          background-position: -300px -205px;
          &:hover {
            cursor: pointer;
            background-position: -300px -235px;
          }
        }
      }
    }
  }
  ol {
    height: 319px;
    line-height: 32px;
    padding-left: 0;
    li {
      list-style: none;
      padding-left: 20px;
    }
  }
  .top-item {
    display: flex;
    font-size: 12px;
    .item-name {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .item-num {
      text-align: center;
      width: 35px;
      height: 32px;
      font-size: 16px;
    }
    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      .item-num {
        color: #c10d0c;
      }
    }
    &:nth-child(odd) {
      background-color: #E8E8E8;
    }
  }
}
.song-box {
  padding: 0 20px 20px;
  .block-content {
    display: flex;
    position: relative;
    padding-top: 20px;
    .top-list {
      width: 230px;
      .top-header {
        height: 120px;
      }
    }
  }
}